<div class="container-senha">
  <header>
    <a href="/login">Voltar para a tela de Login</a>
    <img src="/assets/Img/LogoV1.png" alt="LogoTipo">
  </header>
  <main>
    <section class="sctForgottenPassword">
      <h1>Esqueceu a senha?</h1>
      <p>Informe o e-mail cadastrado no WaterFlow para realizar a redefinição de sua senha.</p>
      <form (ngSubmit)="enviarEmail()">
        <input type="email" name="email" placeholder="Digite seu Email" [(ngModel)]="email" required>
        <button type="submit" [disabled]="isLoading">
          {{ isLoading ? 'Enviando...' : 'Enviar' }}
        </button>
      </form>
    </section>
  </main>
</div>
